* text=auto

*.html diff=html
*.md diff=markdown
*.php diff=php
*.cjs text eol=lf
*.js text eol=lf
*.css text eol=lf
*.blade.php text eol=lf
*.json text eol=lf
*.env text eol=lf


/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
